In [28]:
import pandas as pd
import numpy as np
from collections import defaultdict 
import sys
import os
import matplotlib.pyplot as plt
from tabulate import tabulate
import keras 
from keras.models import Sequential, Model
from keras.layers import Dense, Input, Dropout, Embedding, LSTM, Flatten
from keras.preprocessing.sequence import pad_sequences
from keras.utils import to_categorical
from keras.callbacks import ModelCheckpoint
from sklearn.metrics import accuracy_score
from sklearn.cross_validation import train_test_split

In [2]:
ADDR = '/nfs_home/nbhardwaj/data/rds_data/400/'

In [5]:
sets = [x for x in range(64)]
y_pred = []

for cset in sets:
    df = pd.read_csv(ADDR+str(cset)+'.csv', index_col = [0])
    break

In [7]:
df.head()

         ICount  Instruction           Data Mode  set  rd         delta  label
0  638313090423      4722720  2198847782096    R    0   2           NaN      2
1  638313090428      4722742        3646153    R    0   2 -2.198844e+12      2
2  638313090748      4722720  2198847782096    R    0   2  2.198844e+12      2
3  638313090753      4722742        3646153    R    0   2 -2.198844e+12      2
4  638313091064      4722720  2198847782096    R    0   2  2.198844e+12      2

In [10]:
# Read -> 1 ; Write -> -1
df.Mode = np.where(df.Mode.values=='R', 1, -1)

In [18]:
df.Mode = df['Mode'].astype('int8')
X = df[['Instruction', 'delta', 'Mode']].values
y = df[['label']].values
X_train, X_test, y_train, y_test =

In [25]:
MAX_LENGTH = 1
tokenizer = Tokenizer()
tokenizer.fit_on_texts(X[:, 0])

NameError: name 'Tokenizer' is not defined

In [24]:
X[:, 0]

array([4722720., 4722742., 4722720., ..., 4722742., 4722720., 4722742.])